@import '~styles/colors.less';

:local {
  .overlay {
    height: 100%;
    background-color: @blue;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container {
    width: 360px;
    height: 550px;
    padding: 24px;
    border-radius: 16px;
    background-image: url('./images/login.svg');
    background-size: 300px;
    background-position: center 24px;
    background-repeat: no-repeat;
    .box-shadow(@light-blue);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    input {
      margin-bottom: 16px;
    }

    .button {
      margin-bottom: 24px;
    }

    .signupText {
      font-size: 14px;
      margin-right: 4px;
    }
  }
}
