@import 'normalize';
@import 'color-scheme';
@import '~styles/colors.less';

html > body {
  background-color: @main-background;
  background-image: @main-background-gradient;
  color: @grayscale-65;
  user-select: none;
}
