@import '~styles/colors';

:local {
  .form {
    background: @grayscale-0;
    width: 75%;
    margin: 24px auto;
    min-height: 300px;
    border-radius: 6px;
    border: 1px solid @grayscale-30;
    padding: 12px;

    & > div:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}
