@import '~styles/colors.less';

:local {
  .item {
    height: 42px;
    line-height: 2;
    padding: 0 12px;
    border-radius: 14px;
    cursor: pointer;
    position: relative;

    &:not(:last-child) {
      margin-bottom: 8px;
    }

    &:hover {
      background-color: @main-element;
    }

    &:hover, &.active {
      & > .icon {
        background-color: @main-element-text;
      }

      & > span {
        color: @main-element-text;
      }
    }

    &.active:before {
      border-left: 3px solid @main-element;
      content: '';
      width: 4px;
      height: 100%;
      position: absolute;
      top: 0;
      left: -16px;
    }
  }

  .icon {
    margin-right: 10px;
  }
}
