@import '~styles/colors.less';

:local {
  .container {
    display: flex;
    flex-direction: row;
    height: calc(100% - 62px);
    padding-right: 8px;
  }

  .menu {
    flex-basis: 20%;
    padding: 16px 16px 16px 0;
    box-sizing: border-box;
  }

  .content {
    flex-basis: 50%;
    background-color: @grayscale-15;
    min-width: 300px;
  }

  .settings {
    flex-basis: 30%;
    padding: 16px 0 16px 16px;
    box-sizing: border-box;
  }
}
