@import '~styles/colors.less';

:local {
  .container {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  .menu {
    flex-basis: 20%;
  }

  .content {
    flex-grow: 1;
  }

  .settings {
    flex-basis: 30%;
  }
}
