@import '~styles/colors';

:local {
  .pagination {
    display: flex;
    align-items: center;
    position: relative;
  }

  .pages {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;

    li {
      cursor: pointer;
      min-width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px;
    }

    .active {
      font-weight: bold;
    }

    .rest {
      cursor: default;
    }

    .button {
      border-radius: 10px;
      width: 20px;
      height: 20px;
      background-color: @main-element;
      background-size: 12px;

      &:hover,
      &:focus,
      &:active {
        background-color: darken(@main-element, 5%);
      }

      :global .icon {
        background-color: @main-element-text;
      }

      &.disabled {
        background-color: @grayscale-30;
        cursor: not-allowed;

        :global .icon {
          background-color: @grayscale-50;
        }
      }
    }

    .prevPage {
      margin-right: 8px;
    }

    .nextPage {
      margin-left: 8px;
    }
  }
}
